.vagrant/machines/k3s-server/virtualbox/private_key
.vagrant/machines/k3s-worker-1/virtualbox/private_key
.vagrant/machines/k3s-worker-2/virtualbox/private_key   


/fix-host-network.sh
/keys.txt
# Ignore local Kubernetes cluster credentials
/k3s-config.yaml
# ignore secrets
/secrets.yaml